/* CSS Stylesheet for the Psst microblog */
/* Author: Your Name                     */

html {
    background-color: #000000;
    color: #ff0000;
    font-family: sans-serif;
}

.post {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background-color: #fff;
    border: 2px solid grey;
    padding: 10px;

}
.avatar {
    float: left;
}
.avatar img {
    width: 50px;
    height: 50px;
}